body, html {
    height:100%;
    background-color:#fbfbf1;
}
#page-wrap {
    min-height:100%;
    margin-bottom:-60px;
}
#page-wrap:after {
    content:"";
    display: block;
}
#brand a, #brand h1, #brand h2 {
    margin:0;
    padding:0;
    color:white;
    letter-spacing:2px;
}
#brand h1, #brand h2 {
    background-color:#a6192e;
}
#brand h1 {
    font-size:15px;
}
#brand h2 {
    font-size:10px;
    margin-top:5px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color:#888;
}
.navbar-header {
    height:64px;
}
.navbar-toggle {
    margin-top:15px;
    margin-bottom:15px;
}
#header {
    background-image: url("banners/CUSeal40.png");
    background-size:cover;
    height:200px;
}
header {
    margin-top:50px;
    padding-bottom:10px;
    background: #a6192e;
    color:white;
}
header h1, header h2 {
    text-align:right;
}
header h1 {
    font-size:21px;
}
header h2 {
    font-size:18px;
    margin-top:25px;
}
header img {
    
}
#logo-landscape img {
    margin-top:10px;
    max-height:97px;
    
}

#logo-landscape2 img {
    margin-top:10px;
    max-height:97px;
    width:100%;
}
.navbar-header button {
    border:2px solid transparent;
}
ul.nav-pills {
    line-height:2;
}
.nav-pills>li, .nav-pills>li+li {
    margin:0;
}
#navbar-span, #navbar-collapse-1, .navbar-default {
    background:#a6192e;
}
.nav-pills>li>a {
    border-radius:0;
    color:white;
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus {
    color:#a6192e;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: rgba(25, 25, 25, .4);
}
.nav-justified>li>a:not(:first-child) {
    margin:0;
}
#navbar-collapse-1 {
    padding:0;
}
#navbar-span div:first-child {
    padding:0;
}
#navbar-span {
    box-shadow: 0 5px 3px -2px #fbfbf1;
    z-index: 1;
}
#content-area {
    text-align:justify;
    margin-bottom: 2em;
}
.content-section {
    margin:1em 0 2em;
    vertical-align: top;
}
.content-section h4 a {
    color:black;
    text-decoration:black;
}
.biography {
    margin-top:1em;
}
.biography h4 {
    margin-top:0;
}

.venue {
    margin-top:2em;
}

#venue-item-1 {
    margin-bottom:0;
}

#purple {
    background-color: purple;
    color: white;
    padding:0 1em;
}

.themes-list {
    text-align:left;
}

.panel-heading {
    height:2em;
    padding-top: 5px;
}
.panel-heading h4 {
    font-size:14px;
}

.panel-title>a>div:hover, .panel-title>a>div:active {
    text-decoration:underline;
}

.panel-default>.schedule-header {
background-color:#a6192e;
color:white;
letter-spacing: 2px;
}




.panel h4{
    line-height: normal
    ;
}

.workshop>.panel-default>.panel-heading  {
    height:3.5em;
}
.workshop {
    margin:0.5em 0;
    padding:0;
}



#work1, #work4, #work3 {
    padding-right:5px;
}

#work2, #work5, #work7 {
    padding-left:5px;
}

.panel-body>div {
    margin-bottom:0.25em;
}

.triangle {

    height:20px;
        -webkit-transition: 0.1s; /* Safari */
    transition: .1s;
}

.triangle-transform {
        -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    -webkit-transition: 0.25s; /* Safari */
    transition: .25s;
}






#schedule {
}
#schedule td, .table td {
    padding: 3px;
    white-space:normal;

}
#schedule th {
    text-align: center
}
#schedule td, #schedule th, #schedule {
    border: 1px solid gray;
    border-spacing: 2px;
}
.thead {
background-color:#a6192e;
color:white;
letter-spacing: 2px;
}


.titem:hover {
    cursor:pointer;
}
.tinfo {
    display:none;
    background-color:white;
}

#schedule .tinfo td {
    padding:15px 5px;
}



#theme-list {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
    text-align: left
}
#theme-list-submissions {
    text-align:left;
}
#session-types li {
    margin-top: 10px;
}
.content-section h3, .content-section h4 {
    text-align: left
}
.content-section img {

  margin:auto;
}

.speaker-box{

 
    margin:2em 0;
}
.speaker-content {
          background-color: rgba(220,220,220,0.5);

    padding: 1em;
    -webkit-box-shadow: 3px 3px 6px 3px rgba(192,192,192,0.5);
    -moz-box-shadow: 3px 3px 6px 3px rgba(192,192,192,0.5);
    box-shadow: 3px 3px 6px 3px rgba(8,8,8,0.25); 
}
.speaker-box img{

        -webkit-box-shadow: 0px 0px 6px 3px rgba(192,192,192,0.5);
    -moz-box-shadow: 0px 0px 6px 3px rgba(192,192,192,0.5);
    box-shadow: 0px 0px 6px 3px rgba(8,8,8,0.5); 
    -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.speaker-content img {
    padding-left:0;
    padding-right: 0;
    margin-right:15px;

        -webkit-box-shadow: 0px 0px 6px 3px rgba(192,192,192,0.5);
    -moz-box-shadow: 0px 0px 6px 3px rgba(192,192,192,0.5);
    box-shadow: 0px 0px 6px 3px rgba(8,8,8,.5); 
}
.speaker-content p:first-of-type {
}




footer, #page-wrap:after {
    height: 60px;
}
footer {
    bottom:0px;
    background-color: #a6192e;
    text-align:center;
    color:white;
}
footer h4 {
    margin:15px 0 0 0;
    line-height: 1.5;
    font-size:12px;
}
#logo-small {
        display:none;
    }

@media screen and (min-width:1330px) {
    #logo-small {
        display:none;
    }
    #logo-landscape {
        display:block;
    }
}
@media screen and (max-width:600px) {
    #theme-list {
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;
    }
}
@media screen and (max-width:400px) {
    #theme-list {
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;
    }
}
@media screen and (max-width:991px) {
    #theme-list-submissions {
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;
    }
}
@media screen and (max-width:767px) {
    #work1, #work2, #work3, #work4, #work5, #work7 {
        padding:0;
    }
    #work6 {
        margin-bottom:0;
    }
}

@media screen and (max-width:632px) {
    .panel-heading {
    height:3em;
}

.panel h4{
    line-height: normal
    ;
}

    }
@media screen and (max-width:420px) {
    .panel-heading {
    height:5.2em;
}

.panel h4{
    line-height: normal
    ;
}

    }

